<!DOCTYPE html>
<html>
<head>
    {% include "structure/head.html" %}
    {% include "structure/map_connect.html" %}
    <title>{{ name }} | SoM</title>

    <link rel="stylesheet" href="/static/css/school.css">
    <link rel="stylesheet" href="/static/css/media.css"/>
    <script src="/static/lib/chart/Chart.min.js"></script>
</head>
<body>
<div class="content">
    <div class="loader">
        <div class="loaderInner">
        </div>
    </div>
    <header class="main_head">
        <div class="container">
            <div class="col-md-4">
                <a href="/main" class="name">Schools of Moscow</a>
            </div>
            <form class="search" action="/main" method="get">
                <input class="input" name="s" placeholder="Введите название школы" type="search"/>
                <button class="submit" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </header>
    <div class="container">
        <div class="col-md-12 back">
            <div class="back">
                <div class="col-md-12 back">
                    <section id="geomap" class="s_about light">
                        <h2>{{ name }}</h2>
                    </section>
                    <div id="map" class="map"></div>
                    <script>
                        let center = [55.75497, 37.62432];
                        let zoom = 10;
                        {% for address in addresses %}{% if address.isMain %}
                        center = {{ address.latLng }};
                        zoom = 13;
                        {% endif %}{% endfor %}
                        let markerLayer = L.layerGroup([
                            {% for address in addresses %}
                                L.marker({{ address.latLng }})
                                {% if address.isMain %}
                                    .bindPopup("<b>" + "{{ address.fullname }}" + "</b><br/>Главный корпус"),
                                {% else %}.bindPopup("{{ address.fullname }}"),
                                {% endif %}
                            {% endfor %}
                        ])
                        ;
                        {#mymap.setView({{ address.latLng }}, 13)#}
                        let mapLayer = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1Ijoia3kzaGU0aWsiLCJhIjoiY2pvZnA0d3BzMDY3bDN4cXJ4eDg3NjE3NSJ9.SiLSIUGchbNQWCLmwSpTxQ',
                            {
                                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a>contributors, <ahref="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <ahref="https://www.mapbox.com/">Mapbox</a>',
                                maxZoom: 16,
                                id: 'mapbox.streets',
                                accessToken: 'your.mapbox.access.token'
                            });

                        const mmap = L.map('map', {
                            center: center,
                            zoom: zoom,
                            layers: [mapLayer, markerLayer]
                        });
                        console.log("map done");
                    </script>

                </div>
                <div class="col-md-12 back">
                    <div class="infoAbout"><h1>Информация о школе:</h1></div>
                </div>
                <div class="aboutt">
                    <ul>
                        <li>Название: {{ name_full }}</li>
                        {% if site != 'nan' %}
                            <li>Сайт: <a href="http://{{ site }}/">{{ site }}</a></li>{% endif %}
                        {% if email != 'nan' %}
                            <li>E-mail: {{ email }}</li>{% endif %}
                        {% if principal != 'nan' %}
                            <li>Директор: {{ principal }}</li>{% endif %}
                        {% if stud_from != 'nan' %}
                            <li>В школе обучаются с {{ stud_from }} по {{ stud_to }} класс</li>{% endif %}
                        {% if profiles != '' %}
                            <li>Профили (на основании нашей аналитики): {{ profiles }}</li>{% endif %}
                        {% if legal_address != 'nan' %}
                            <li>Юридический адрес: {{ legal_address }}</li>{% endif %}
                        {% if financing != 'nan' %}
                            <li>Финансирование: {{ financing }}</li>{% endif %}
                        {% comment %}{% if ogrn != 'nan' %}
                        <li>ОГРН: {{ ogrn }}</li>{% endif %}
                    {% if okato != 'nan' %}
                        <li>ОКАТО: {{ okato }}</li>{% endif %}{% endcomment %}
                        {% if ou_class != 'nan' %}
                            <li>Тип: {{ ou_class }}</li>{% endif %}
                        {% if extended_groups == True %}
                            <li>Есть группы продлённого дня</li>{% endif %}
                    </ul>
                </div>
                <div class="col-md-12 back">
                    <div class="text_gos"><h1>Результаты государственных экзаменов:</h1></div>
                </div>
                {% if has_ege %}
                    <div class="col-md-6 back">
                        <section class="EGE">
                            <h1>ЕГЭ</h1>
                            <canvas id="EGE" width="100%"></canvas>
                            <script>
                                const ege_data = {
                                    labels: [
                                        {% for name, value in subjects_ege.items %}
                                            {% if value != 0 %}
                                                "{{ name }}",
                                            {% endif %}
                                        {% endfor %}
                                    ],
                                    datasets: [{
                                        label: "ЕГЭ",
                                        backgroundColor: "rgba(200,0,0,0.5)",
                                        data: [
                                            {% for _, value in subjects_ege.items %}
                                                {% if value != 0 %}
                                                    {{ value }},
                                                {% endif %}
                                            {% endfor %}
                                        ]
                                    }]
                                }
                            </script>
                        </section>
                    </div>
                {% else %}
                    <script>const ege_data = [];</script>
                {% endif %}
                {% if has_oge %}
                    <div class="col-md-6 back">
                        <section class="OGE">
                            <h1>ОГЭ</h1>

                            <canvas id="OGE" width="100%"></canvas>
                            <script>
                                const oge_data = {
                                    labels: [
                                        {% for name, value in subjects_oge.items %}
                                            {% if value != 0 %}
                                                "{{ name }}",
                                            {% endif %}
                                        {% endfor %}
                                    ],
                                    datasets: [{
                                        label: "ОГЭ",
                                        backgroundColor: "rgba(200,0,0,0.5)",
                                        data: [
                                            {% for _, value in subjects_oge.items %}
                                                {% if value != 0 %}
                                                    {{ value }},
                                                {% endif %}
                                            {% endfor %}
                                        ]
                                    }]
                                }
                            </script>
                        </section>
                    </div>
                {% else %}
                    <script>const oge_data = [];</script>
                {% endif %}
                {% if has_vyzes %}
                    <div class="col-md-12 back">
                        <section class="VYZES">
                            <h1>Поступают в ВУЗЫ Москвы:</h1>

                            <canvas id="VYZES" width="100%"></canvas>
                            <script>
                                const vyzes_data = {
                                    labels: [
                                        {% for pair in top_vyzes %}
                                            "{{ pair.0 }}",
                                        {% endfor %}
                                    ],
                                    datasets: [{
                                        label: "Поступают в ВУЗЫ:",
                                        backgroundColor: [
                                            "rgba(189, 126, 183, 0.75)",
                                            "rgba(88, 102, 177, 0.75)",
                                            "rgba(93, 139, 199, 0.75)",
                                            "rgba(89, 199, 200, 0.75)",
                                            "rgba(104, 195, 152, 0.75)",
                                            "rgba(175, 218, 146, 0.75)",
                                            "rgba(252, 246, 136, 0.75)",
                                            "rgba(243, 172, 116, 0.75)",
                                            "rgba(249, 149, 125, 0.75)",
                                            "rgba(246, 125, 114, 0.75)"
                                        ],
                                        {#rgba(12, 23, 34, 0.5)#}
                                        data: [
                                            {% for pair in top_vyzes %}
                                                "{{ pair.1 }}",
                                            {% endfor %}
                                        ]
                                    }]
                                }
                            </script>
                        </section>
                    </div>
                {% else %}
                    <script>const vyzes_data = [];</script>
                {% endif %}
                <div class="col-md-12 back">
                    <div class="addresses">
                        <h1>Адреса школ</h1>
                        {% for address in addresses %}
                            {% if address.isMain %}
                                <li>Главный корпус: {{ address.fullname }}</li>
                            {% endif %}
                        {% endfor %}
                        {% for address in addresses %}
                            {% if not address.isMain %}
                                <li>{{ address.fullname }}</li>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-12 back">
                    <div class="schools"><h1>Школы, похожие на эту:</h1>
                        <ul>
                            {% for ekis, name in schools_like_this %}
                                <li><a href="school?id={{ ekis }}">{{ name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- FOOTER -->
{% include "structure/footer.xml" %}

<script src="/static/lib/jquery/jquery-2.1.3.min.js"></script>
<script src="/static/lib/parallax/parallax.min.js"></script>
<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
        integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
        crossorigin=""></script>
<script src="/static/lib/animate/animate-css.js"></script>
<script src="/static/lib/scroll/PageScroll2id.min.js"></script>
<script src="/static/js/school.js"></script>
</body>
</html>
